body {
  font-family: sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
}

main {
  max-width: 800px;
  padding: 16px;
  margin-left: 8px;
}

nav {
  width: 220px;
  border-radius: 8px;
  min-width: 220px;
  padding: 16px;
  margin: 8px;
  align-self: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 72px;
  max-height: calc(100vh - 70px);
  overflow: auto;
}

@media screen and (max-width: 900px) {
  nav {
    display: none;
  }
}

a {
  color: #0087ff;
  text-decoration: "underline";
}

li.active > a {
  color: rgb(0, 0, 0);
}

li > a:hover {
  color: rgb(0, 0, 0);
}

/*  Gives a little bit of buffer when header is navigated to */
h2, h3 {
  padding-top: 16px;
}

h4 {
  margin-top: -22px;
}
